.lmj-webcam-capture {
  width: "240px";
  height: "240px";
  border: "5px solid black";
  background-color: "blue";
  border-radius: "10px";
  box-sizing: "border-box";
  border-radius: 50%;
  overflow: hidden;
}
